<div style="padding-top:10%;padding-left:25%;padding-right:25%">
  <div class="card" style=" direction: rtl;width:100% ">
     <center>
    <div class="item item-divider">
     التسجيل
    </div>
    <label class="item item-input">
      
      <input type="text" ng-model="username" id="inputName" placeholder="الاسم"/>
    </label>
    <label class="item item-input">
      
      <input type="email" ng-model="email" id="inputUsername" placeholder="رقم الهاتف او الايميل"/>
    </label>
    <label class="item item-input">
     
      <input type="password" ng-model="password" id="inputPassword" placeholder="كلمة المرور"/>
    </label>
    <label class="item">
      <button class="button button-block button-positive" ng-click="signUp()">التسجيل</button>
    </label>
    <label class="item">
      <button class="button button-block button-stable" ng-click="loginUI()">الدخول</button>
    </label>
	     </center>
  </div>  </div>
 